.c-calendarSec {
  table {
    th,
    td {
      width: 40px;
      height: 40px;
      font-size: 10px;
    }
    th {
      font-size: 12px;
      font-weight: 300;
    }

    .c-wedding {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      margin: auto;
      background-color: rgba($color_gold, 0.5);
      border-radius: 50%;
      transition: background-color 200ms ease-in;

      &:hover {
        background-color: rgba($color_gold, 0.6);
      }

      &:active {
        background-color: rgba($color_gold, 0.7);
      }

      img {
        width: 16px;
      }
    }
  }

  .meme-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 1;

    .react-reveal {
      height: 100%;
    }

    .img-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;

      height: 100%;
      background-color: $color_bg;

      img {
        width: 100%;
      }
    }

    &.-visible {
      pointer-events: auto;
    }
  }
}
