html,
body {
  padding: 0;
  margin: 0;
  font-family: "Alata", sans-serif;
  font-style: normal;
  font-weight: 300;
  color: $color_black;
  text-align: center;
  background: $color_bg;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: 300;
}

* {
  box-sizing: border-box;
}

.row {
  @media (min-width: 768px) {
    display: flex;
  }

  .col {
    @media (min-width: 768px) {
      padding: 0 80px;

      & + .col {
        &:before {
          position: absolute;
          top: calc(50% - 40px);
          left: 50%;
          width: 1px;
          height: 80px;
          content: "";
          background-color: $color_gold;
          opacity: 0;
          transform: scaleY(0);
          animation: fadeIn 500ms 900ms forwards;
        }
      }
    }
  }
}

.container {
  display: flex;
  align-items: center;
  height: 100%;
  min-height: 100vh;

  @media (min-width: 768px) {
    background-image: url("/images/plant3-bg.png");
    background-repeat: no-repeat;
    background-position: 110% 200px;
  }
}

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 40px 0 80px;

  @media (max-width: 768px) {
    background-image: url("/images/plant-bg.png");
    background-repeat: no-repeat;
    background-position: 80% bottom;
  }
}

hr {
  width: 50px;
  height: 1px;
  margin: 24px auto;

  border: 0;
  border-top: 1px solid $color_gold;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scaleY(0);
  }

  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
