/* Padding top
========================================================================== */

$pt: 0, 80, 150;

@each $p in $pt {
  .-pt#{$p} {
    padding-top: #{$p}px;
  }
}

/* Padding top - sm
========================================================================== */

$pt_sm: 0, 80;

@media (max-width: 768px) {
  @each $p in $pt_sm {
    .-pt#{$p}sm {
      padding-top: #{$p}px;
    }
  }
}

/* Padding bottom
========================================================================== */

$pb: 74;

@each $p in $pb {
  .-pb#{$p} {
    padding-bottom: #{$p}px;
  }
}

/* Margin top
========================================================================== */

$mt: 24;

@each $m in $mt {
  .-mt#{$m} {
    margin-top: #{$m}px;
  }
}

/* Margin bottom
========================================================================== */

$mb: 8, 16, 24;

@each $m in $mb {
  .-mb#{$m} {
    margin-bottom: #{$m}px;
  }
}
