/* Font sizes
========================================================================== */

.-f12 {
  font-size: 12px;
  line-height: 16px;
}

.-f14 {
  font-size: 14px;
  line-height: 18px;
}

.-f16 {
  font-size: 16px;
  line-height: 22px;
}

.-f18 {
  font-size: 18px;
  line-height: 24px;
}

.-f24 {
  font-size: 24px;
  line-height: 32px;
}

.-f48 {
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0.15em;
}
